	.mediaViewInfo {
		--web-view-name: home;
		--web-view-id: home;
		--web-scale-on-resize: true;
		--web-enable-deep-linking: true;
	}
	:root {
		--web-view-ids: home;
	}
	* {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
		border: none;
	}
	#home {
		position: absolute;
		width: 1280px;
		height: 3332px;
		background-color: rgba(118,136,180,1);
		overflow: hidden;
		--web-view-name: home;
		--web-view-id: home;
		--web-scale-on-resize: true;
		--web-enable-deep-linking: true;
	}
	@keyframes fadein {
	
		0% {
			opacity: 0;
		}
		100% {
			opacity: 1;
		}
	
	}
	#blue_future_ {
		left: 432px;
		top: 337px;
		position: absolute;
		overflow: visible;
		width: 395px;
		white-space: nowrap;
		text-align: left;
		font-family: Futura;
		font-style: normal;
		font-weight: normal;
		font-size: 80px;
		color: rgba(255,255,255,1);
	}
	#Ellipse_1 {
		fill: rgba(185,203,237,1);
		stroke: rgba(112,112,112,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Ellipse_1 {
		position: absolute;
		overflow: visible;
		width: 2464px;
		height: 1627px;
		left: -592px;
		top: -521px;
	}
	#blue_future__ {
		left: 443px;
		top: 338px;
		position: absolute;
		overflow: visible;
		width: 395px;
		white-space: nowrap;
		text-align: left;
		font-family: Futura;
		font-style: normal;
		font-weight: normal;
		font-size: 80px;
		color: rgba(255,255,255,1);
	}
	#a_webzine_dedicated_to_publish {
		left: 237px;
		top: 555px;
		position: absolute;
		overflow: visible;
		width: 807px;
		white-space: nowrap;
		text-align: center;
		font-family: Futura;
		font-style: normal;
		font-weight: normal;
		font-size: 50px;
		color: rgba(255,255,255,1);
	}
	#Rectangle_1 {
		fill: rgba(255,255,255,1);
		stroke: rgba(112,112,112,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Rectangle_1 {
		position: absolute;
		overflow: visible;
		width: 961px;
		height: 501px;
		left: 151px;
		top: 2792px;
	}
	#Rectangle_2 {
		fill: rgba(255,255,255,1);
		stroke: rgba(112,112,112,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Rectangle_2 {
		position: absolute;
		overflow: visible;
		width: 1063px;
		height: 579px;
		left: 102px;
		top: 2753px;
	}
	#issue_seven_out_now_featuring_ {
		left: 31px;
		top: 1434px;
		position: absolute;
		overflow: visible;
		width: 965px;
		white-space: nowrap;
		text-align: left;
		font-family: Futura;
		font-style: normal;
		font-weight: normal;
		font-size: 60px;
		color: rgba(255,255,255,1);
	}
	#submit_to_issue_eight_or_the_b {
		left: 196px;
		top: 1813px;
		position: absolute;
		overflow: visible;
		width: 1056px;
		white-space: nowrap;
		text-align: right;
		font-family: Futura;
		font-style: normal;
		font-weight: normal;
		font-size: 60px;
		color: rgba(255,255,255,1);
	}
	#want_to_be_a_part_of_the_team_ {
		left: 31px;
		top: 2138px;
		position: absolute;
		overflow: visible;
		width: 1174px;
		white-space: nowrap;
		text-align: left;
		font-family: Futura;
		font-style: normal;
		font-weight: normal;
		font-size: 60px;
		color: rgba(255,255,255,1);
	}
	#home_q {
		left: 343px;
		top: 35px;
		position: absolute;
		overflow: visible;
		width: 101px;
		white-space: nowrap;
		text-align: left;
		font-family: Futura;
		font-style: normal;
		font-weight: normal;
		font-size: 40px;
		color: rgba(255,255,255,1);
	}
	#read {
		left: 597px;
		top: 35px;
		position: absolute;
		overflow: visible;
		width: 87px;
		white-space: nowrap;
		text-align: left;
		font-family: Futura;
		font-style: normal;
		font-weight: normal;
		font-size: 40px;
		color: rgba(255,255,255,1);
	}
	#read_s {
		left: 837px;
		top: 35px;
		position: absolute;
		overflow: visible;
		width: 87px;
		white-space: nowrap;
		--web-animation: fadein 0.30000001192092896s ease-out;
		--web-action-type: page;
		--web-action-target: link.html;
		cursor: pointer;
		text-align: left;
		font-family: Futura;
		font-style: normal;
		font-weight: normal;
		font-size: 40px;
		color: rgba(255,255,255,1);
	}
